@normal-color: rgb(105, 238, 103);
@insert-color: rgb(7, 193, 242);
@visual-color: rgb(255, 206, 98);

.status-bar-vim-mode-plus-normal, .status-bar-vim-mode-plus-insert, .status-bar-vim-mode-plus-visual {
  padding: 0 1em;
  text-transform: uppercase;
}

.status-bar-vim-mode-plus-normal {
  background: @normal-color;
  color: rgb(4, 111, 11);
}

.status-bar-vim-mode-plus-insert {
  background: @insert-color;
  color: white;
}

.status-bar-vim-mode-plus-visual {
  background: @visual-color;
  color: rgb(168, 117, 5);
}
